body {
  background-color: #1B1B1BFF;
  font-family: 'IBM Plex Mono', monospace;
  color: #ffffff;  /* weiße Textfarbe */
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

header {
  background-color: rgb(50, 50, 50);
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 8px; 
  margin-bottom: 20px;  /* Außen: Platz nach unten zu anderen Elementen */
}

header h1 {
  margin: 0;
  color: #ffffff;
  a {
    img {
      margin-top: 10px;
    }
  }
}



footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #555;
  text-align: center;
  color: #aaaaaa;
}

a {
  color: #179f1e;  /* helles Blau für Links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tabellen stylen */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  border-bottom: #808080FF;
}

table th {
  background-color: rgb(40, 40, 40);
  color: #ffffff;
  padding: 12px;
  text-align: left;
  border-top: 1px solid #555;
}

table td {
  padding: 12px;
  border-bottom: 1px solid #808080FF;
  color: #179f1e
}

table tr:hover {
  background-color: rgb(45, 45, 45);
}

section {
  border-top: 5px #179f1e;
  border-collapse: collapse;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  padding: 15px;
}

.py {
  color: #158c1b;  /* Grün */
  vertical-align: middle;
}

.guy {
  color: #b8b5b5;  /* Weiß */
  vertical-align: middle;
}

header h1 img {
  vertical-align: middle;
}

.layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.left {
  flex: 2; /* nimmt 2/3 der Breite */
}

.right {
  flex: 1; /* nimmt 1/3 der Breite */
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  padding: 15px;

  p {
    margin-top: -25px;
  }

  .download {
    padding-top: 15px;
    border-top: 1px solid #555;
  }
}
